# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
*.env

# macOS-specific files
.DS_Store

# jetbrains
.idea

# sst
.sst

# drizzle
.drizzle

# tanstack
.tanstack

# wrangler
.wrangler
wrangler.jsonc
!packages/typescript/functions/papercut-api-gateway/wrangler.jsonc
.dev.vars*
worker-configuration.d.ts

**/bin/*

stats.html

# python
.venv
__pycache__

**/pulumi_home/*
!**/pulumi_home/.gitkeep
